button {
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 30px;
  color: white;
  background: black;
  transition: all 0.3s ease;
  &:hover{
    cursor: pointer;
    background: white;
    color: black;
    border: 3px solid black;
  }
}
